{% extends "base.html" %}

{% block title %}{% endblock title %}


  {% block content %}
  
    <div class="moving-text">
      <div class="scrolling-wrapper">
        <p>
          Check the <a href="">Today's Update</a> for latest Schedule
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Check the <a href="">Today's Update</a> for latest Schedule
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Check the <a href="">Today's Update</a> for latest Schedule
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Check the <a href="">Today's Update</a> for latest Schedule
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Check the <a href="">Today's Update</a> for latest Schedule
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Check the <a href="">Today's Update</a> for latest Schedule
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Check the <a href="">Today's Update</a> for latest Schedule
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
        </p>
      </div>
  </div>

  <section class="home-section">
      <div class="home">
          <h1 class="welcome-head">OPTIMIZE YOUR ROUTINE EFFICIENTLY!</h1>
          <div><p class="typing-text"></p></div>
          <div><p class="starts" id="intro">Your productivity journey starts here!</p></div>
          <a class="cta-btn" href="">Get Started</a>
      </div>
  </section>
  {% endblock content %}
